body {
    background-color: #ffffff;
    color: #2a1c29;
    font-family: Gill Sans, Helvetica, Arial, sans-serif;
    font-size: 15px;
    margin: 0;
}

a {
    color: #e44b00;
}

.header {
    background-color: #e44b00;
    background-position: center center;
    background-repeat: no-repeat;
    padding: 20px;
    text-align: center;
}

.header img {
    margin-bottom: 30px;
}

.header nav a {
    font-size: x-large;
    border-bottom: 2px solid #e44b00;
    border-radius: 10px;
    color: #2a1c29;
    text-decoration: none;
    margin-right: 5px;
    padding: 5px;
}

.header nav a:hover {
    background: #ff833a;
}

.header nav a.active {
    background: #ffffff;
}